* {
  margin: 0;
  padding: 0;
}
body {
  /* background: url("bg.jpeg"); */
  /* background-size: cover; */
  overflow: hidden;
  height: 100vh;
}
.taskbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 110;
}
.taskbarright {
  position: absolute;
  right: 0;
  margin: 2px 0;
  height: 90%;
}
.startmenu {
  position: absolute;
  /* bottom: 50px; */
  bottom: -650px;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.4s ease-in;
}
.startmenu img {
  border-radius: 10px;
}
